.modalForm {}

.footer {
    padding: 15px 0px;
    text-align: right;
    button {
        margin-right: 5px;
    }
}

.hide {
    display: none !important;
}

.card {
    :global {
        .ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
            padding: 13px 16px;
        }
        .ant-card-head {
            padding: 0px 10px;
        }
        .ant-card-head-wrapper {
            float: right;
        }
        .ant-card-head .ant-tabs {
            clear: none;
            float: left;
        }
        .ant-card-extra {
            padding-top: 8px;
        }
        .ant-tabs-nav-container {
            margin-bottom: 0px;
        }
    }
}

.avatar {
    width: 200px;
    height: 100px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .imageContainer {
        background: center center no-repeat;
        background-color: #fafafa;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}

.userModal {
    display: flex;
    .userAvatar {
        width: 175px;
    }
    .userInfoForm {
        flex: 1;
        margin-left: 10px;
    }
}

